<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banker's Algorithm using queue datastructure</title>
    <style>
        body{
            background-color: black;
        }
    </style>
    
    <script src="{{ url_for('static', filename='JavaScript/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/p5.gui.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/p5.sound.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/quicksettings.js') }}"></script>
    
</head>
<body>
    <span id="data" style="display:none">{{data}}</span>
    <script src="{{ url_for('static', filename='JavaScript/solution.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/cell.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/readyQueue.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/processedQueue.js') }}"></script>
</body>
</html>